URL decoding does not support lowercase percent-encoding, shows empty directory with one in path

# Steps to reproduce

1. Set up h5ai in a given accessible directory
2. Create a path that will contain URL-encoded hexa characters like `[` or `]`:
  - `mkdir "[Test] hello"`
  - `touch "[Test] hello/world.txt"`
3. Open h5ai. The `[Test] hello` directory correctly appears.
4. Click on the `[Test] hello` directory. The URL changes to `/%5BTest%5D%20Hello/`, and the files within appear.
5. Note the `%5B` and `%5D` entities in the URI, and change them to `%5b` and `%5d` respectively. Reload the page with those.

# Expected result

The files within the directory appear when using lowercase entities (`/%5bTest%5d%20Hello/`), in the same way they appeared when using a URL with uppercase entities (`/%5BTest%5D%20Hello/`).

# Actual result

The page loads with no apparent error, but the directory appears empty.

# Notes

Possibly related to #477.

The definition of percent-encoding in URIs as per [RFC 3986 Section 2.1](https://tools.ietf.org/html/rfc3986#section-2.1) includes lowercase hexadecimal characters, and explicitly note the following:
> If two URIs differ only in the case of hexadecimal digits used in percent-encoded octets, they are equivalent.

The nature of percent-encoding depends unfortunately on implementation. Those I know encode using uppercase hexadecimal notation and bypass this issue. I fell today on one that didn't.

# Versions

- h5ai 0.29.0
- HTTP server: Apache 2.4.23
- OS: Debian GNU/Linux stretch (testing)

I can replicate the situation using the existing demo, and these two URLs:

- Working: https://larsjung.de/h5ai/demo/special%20chars/%C3%9F%C3%B6%C3%BC%C3%A4%C3%96%C3%9C%C3%84/
- Non-working: https://larsjung.de/h5ai/demo/special%20chars/%c3%9f%c3%b6%c3%bc%c3%a4%c3%96%c3%9c%c3%84/

In addition, the server-generated HTML page has the expected result, and disabling Javascript bypasses the issue.